.vscode/**
.vscode-test/**
node_modules/**
webview/**
src/**
.github/**
tasks.json
tsconfig.json
tsconfig.tsbuildinfo
vite.config.ts
package-lock.json
.eslintrc*
.gitignore
*.vsix
**/*.ts
**/*.tsx
**/*.map
